---
import Layout from '../layouts/Layout.astro';
import Button from '@components/Button.astro';

const { 
	title = "My Astro Blog",
	description = "My musings about the Astro framework",
	...rest 
} = Astro.props;
---

<Layout {title} {description}>
	<main class='bg-surface-2'>
    <article class="p-inline-max py-2xl stack stack-md">
       <h1>Buttons</h1>
      <p class="text-md leading-lg">Easily create nice looking buttons, which come in different sizes, shapes, and styles.</p>
      <Button text='Default' />
      
      <Button 
        theme='outlined' 
        text='Outlined'
      />
      
      <Button 
        theme='tonal' 
        text='Tonal'
      />
      
      <Button 
        theme='filled' 
        text='Filled'
      />
      
      <Button 
        theme='custom' 
        text='custom'
        elevated
      />
      
      <a href="#" class="button filled">Link</a>

      <hr>

      <h3>Icon Buttons</h3>
      
      <Button 
        variant='icon-button' 
        icon='symbols-solid'
        aria-label='default'
      />

      <Button 
        theme='outlined' 
        variant='icon-button' 
        icon='symbols-solid'
        aria-label='outlined'
      />

      <Button
        theme='tonal'
        variant='icon-button'
        icon='symbols-solid'
        aria-label='tonal'
      />
      
      <Button 
        theme="filled" 
        variant='icon-button' 
        icon='symbols-solid' 
        aria-label='filled'
      />
      
      <Button 
        theme="custom" 
        variant='icon-button' 
        icon='symbols-solid' 
        aria-label='custom'
        shape='circle'
      />

      <Button 
        theme="custom" 
        variant='icon-button' 
        icon='symbols-solid' 
        aria-label='custom'
        shape='circle'
        size='lg'
      />
      
      <h3>With icons</h3>
      
      <Button 
        icon='symbols-solid'
        text='Default'
      />

      <Button 
        theme='outlined' 
        icon='symbols-solid'
        text='outlined'
      />

      <Button
        theme='tonal'
        icon='symbols-solid'
        text='tonal'
      />
      
      <Button 
        theme="filled" 
        icon='symbols-solid' 
        text='filled'
      />
      
      <Button 
        theme="custom" 
        icon='symbols-solid' 
        text='custom'
        dir='rtl'
        elevated
      />

      <hr>
      
      <h3>Disabled Buttons</h3>
      
      <Button 
        text='Default' 
        disabled
      />
      <Button 
        theme='outlined' 
        text='Outlined' 
        disabled 
      />
      <Button 
        theme='tonal' 
        text='Tonal' 
        disabled 
      />
      <Button 
        theme='filled' 
        text='Filled' 
        disabled 
      />
      <Button 
        theme='custom' 
        text='custom'
        disabled 
      />

      <hr />

      <Button 
        icon='symbols-solid' 
        text='Default' 
        disabled
      />
      <Button
        icon='symbols-solid' 
        theme='outlined' 
        text='Outlined' 
        disabled 
      />
      <Button 
        icon='symbols-solid'
        theme='tonal' 
        text='Tonal' 
        disabled 
      />
      <Button
        icon='symbols-solid' 
        theme='filled' 
        text='Filled' 
        disabled 
      />
      <Button
        icon='symbols-solid'  
        theme='custom' 
        text='custom'
        disabled 
      />

      <h3>Shapes</h3>
      
      <Button 
        theme='outlined' 
        text='Outlined'
        shape='pill'
      />
      
      <Button 
        theme='tonal' 
        text='Tonal'
        shape='square'
      />
      
      <Button 
        theme='filled'
        shape='circle'
        text='Ci'
      />

      <h2>Sizes</h2>
      <Button 
        theme='outlined' 
        text='Outlined'
        size='sm'
      />
      
      <Button 
        theme='tonal' 
        text='Tonal'
        size='lg'
      />

      <h2>Spring</h2>    
      <Button 
        theme='tonal' 
        text='Press me'
        size='lg'
        classes="spring"
      />
    </article>
  </main>
</Layout>