---
import Layout from '../layouts/Layout.astro';

const { 
	title = "My Astro Blog",
	description = "My musings about the Astro framework",
	...rest 
} = Astro.props;
---

<Layout {title} {description}>
	<main class="bg-surface-2">
		<article class="p-inline-max py-lg stack stack-md">
			<h1 class="text-4xl">Your Brand</h1>
      <p class="text-md leading-lg">Introduction</p>

	    <h2 class="test-heading mt-2xl">Brand identity</h2>
	    <p>This color scheme and font represents your brand.</p>
	
	    <h2 class="text-md">Theme colors</h2>
	    <ul role="list" class="palette theme scroll-x-overflow" style="--overflow-space: 0;">
        <li>
          <span class="swatch bg-brand-4"></span>
          <span>--brand-1</span>
        </li>
        <li>
          <span class="swatch bg-blue-2"></span>
          <span>--brand-2</span>
        </li>
        <li>
          <span class="swatch" style="background-color: var(--color-violet-3);"></span>
          <span>--brand-1</span>
        </li>
        <li>
          <span class="swatch"></span>
          <span>--brand-2</span>
        </li>
        <li>
        <span class="swatch"></span>
        <span>--brand-1</span>
        </li>
        <li>
          <span class="swatch"></span>
          <span>--brand-2</span>
        </li>
      </ul>

	    <h2 class="text-md">Grayscale</h2>
      
      <ul role="list" class="flex	palette grayscale">
        <li>
          <span class="swatch bg-surface-1"></span>
          <span>--surface-1</span>
        </li>
        <li>
          <span class="swatch bg-surface-2"></span>
          <span>--surface-2</span>
        </li>
        <li>
          <span class="swatch bg-surface-3"></span>
          <span>--surface-3</span>
        </li>
        <li>
          <span class="swatch bg-surface-4"></span>
          <span>--surface-4</span>
        </li>
      </ul>

	    <h2 class="text-md">Text</h2>
      
      <ul role="list" class="flex	palette text">
        <li>
          <span class="swatch bg-text-1"></span>
          <span>--text-1</span>
        </li>
        <li>
          <span class="swatch bg-text-2"></span>
          <span>--text-2</span>
        </li>
      </ul>

	<h2 class="text-md">Alert Colors</h2>
	<ul role="list" class="flex	palette alert">
		<li>
			<span class="swatch bg-danger"></span>
			<span>--danger</span>
		</li>
		<li>
			<span class="swatch bg-warning"></span>
			<span>--warning</span>
		</li>
		<li>
			<span class="swatch bg-info"></span>
			<span>--info</span>
		</li>
		<li>
			<span class="swatch bg-success"></span>
			<span>--success</span>
		</li>
	</ul>

	<div class="nested-palette">
		<div style="background-color: var(--color-surface-1)">
			<span>var(--surface-1)</span>
			<div style="background-color: var(--color-surface-2)">
				<span>var(--surface-2)</span>
				<div style="background-color: var(--color-surface-3)">
					<span>var(--surface-3)</span>
					<div style="background-color: var(--color-surface-4)">
						<span>var(--surface-4)</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h2>Fonts in use</h2>
		<p>These fonts have been crafted specifically for the brand</p>

		<p class="text-3xl">
			Aa
		</p>
		<p class="font-name">Roboto Flex 400</p>
		<p class="grid-ram [--grid-col:18] [--col-min:2ch] [--col-max:2ch] gap-[1ch]"> 
<!-- <p class="grid-ram gap-sm" style="--grid-col: 18; --col-min: 2ch; --col-max: 2ch"> -->
			<span>A</span><span>B</span><span>C</span><span>D</span>
			<span>E</span><span>F</span><span>G</span><span>H</span>
			<span>I</span><span>J</span><span>K</span><span>L</span>
			<span>M</span><span>N</span><span>O</span><span>P</span>
			<span>Q</span><span>R</span><span>S</span><span>T</span>
			<span>U</span><span>V</span><span>W</span><span>X</span>
			<span>Y</span><span>Z</span><span>a</span><span>b</span>
			<span>c</span><span>d</span><span>e</span><span>f</span>
			<span>g</span><span>h</span><span>i</span><span>j</span>
			<span>k</span><span>l</span><span>m</span><span>n</span>
			<span>o</span><span>p</span><span>q</span><span>r</span>
			<span>s</span><span>t</span><span>u</span><span>v</span>
			<span>w</span><span>x</span><span>y</span><span>z</span>
			<span>1</span><span>2</span><span>3</span><span>4</span>
			<span>5</span><span>6</span><span>7</span><span>8</span>
			<span>9</span><span>0</span><span>+</span><span>=</span>
			<span>!</span><span>@</span><span>#</span><span>%</span>
			<span>$</span><span>%</span><span>^</span><span>&amp;</span>
		</p>

		<p class="text-3xl bold">
			Aa
		</p>
		<p class="font-name font-bold">Roboto Flex 900</p>
		<p class="grid-ram font-bold" style="--grid-col:18; --col-min: 2ch; --col-max: 3ch">
			<span>A</span><span>B</span><span>C</span><span>D</span>
			<span>E</span><span>F</span><span>G</span><span>H</span>
			<span>I</span><span>J</span><span>K</span><span>L</span>
			<span>M</span><span>N</span><span>O</span><span>P</span>
			<span>Q</span><span>R</span><span>S</span><span>T</span>
			<span>U</span><span>V</span><span>W</span><span>X</span>
			<span>Y</span><span>Z</span><span>a</span><span>b</span>
			<span>c</span><span>d</span><span>e</span><span>f</span>
			<span>g</span><span>h</span><span>i</span><span>j</span>
			<span>k</span><span>l</span><span>m</span><span>n</span>
			<span>o</span><span>p</span><span>q</span><span>r</span>
			<span>s</span><span>t</span><span>u</span><span>v</span>
			<span>w</span><span>x</span><span>y</span><span>z</span>
			<span>1</span><span>2</span><span>3</span><span>4</span>
			<span>5</span><span>6</span><span>7</span><span>8</span>
			<span>9</span><span>0</span><span>+</span><span>=</span>
			<span>!</span><span>@</span><span>#</span><span>%</span>
			<span>$</span><span>%</span><span>^</span><span>&amp;</span>
		</p>

		<h1 class="text-4xl">Whereas a common understanding of these rights and freedoms is</h1>
		<h1 class="text-3xl">Whereas a common understanding of these rights and freedoms is</h1>
		<h1 class="text-2xl">
			No one shall be held in slavery or servitude; slavery and the slave
			trade shall be prohibited in all their forms.
		</h1>
		<h2 class="text-xl">
			Everyone has the right to an effective remedy by the competent
			national tribunals for acts violating the fundamental rights granted
			him by the constitution or by law.
		</h2>
		<h3 class="text-md">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
			minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			aliquip ex ea commodo consequat.
		</h3>

		<p class="text-sm measure-lg">
			Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
			dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est
			laborum.
		</p>

		<p class="text-xs measure-lg">
			Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
			dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est
			laborum.
		</p>
		</article>
  </main>
</Layout>

<style>
	.swatch {
		padding: var(--spacing-sm); 
		width: var(--spacing-3xl);
		height: auto;
		border-radius: var(--radius-md);
		box-shadow: var(--shadow-md);
		border: 1px solid var(--surface-2);
	}
	
	.palette {
		/* Stack space */
		--space: var(--spacing-xs);
		display: flex;
		gap: var(--spacing-xs);
	}
	
	li { 
		display: flex;
		flex-direction: column;
		gap: var(--spacing-xs);
	}

	.nested-palette { 
		max-width: 55%;
		background-color: var(--color-surface-0); 
		border-radius: var(--radius-md);
	}
	.nested-palette div {
		padding: var(--spacing-xs);
		margin: var(--spacing-sm);
		border-radius: var(--radius-md);
	}
	
	.prop {
		background-color: var(--color-surface-2);
		border: 1px solid var(--color-surface-3);
		padding: var(--spacing-3xs);
		border-radius: var(--radius-md);
		display: inline-flex;
	}
	</style>