---
import Layout from '@layouts/Layout.astro';
import Dialog from '@components/Dialog.astro';
import Button from '@components/Button.astro';
import Dropdown from '@components/Dropdown.astro';
import Tooltip from '@components/Tooltip.astro';
import Avatar from '@components/Avatar.astro';

import userAvatar from '@images/killer-mike.jpg';
import altUserAvatar from '@images/elp.jpg';

const { 
	title = "My Astro Blog",
	description = "My musings about the Astro framework",
	...rest 
} = Astro.props;
---

<style>
  #new-dropdown { anchor-name: --question, --my-tipanchor; }
  #new-menu {
    position-anchor: --question;
    position-area: bottom center;
  } 
  #tooltip-info {
    position-anchor: --my-tipanchor;
    position-area: top;
    /* position-try: flip-block, flip-inline;  */
    position-try-fallbacks: --bottom-center, --bottom-left, --top-center, --bottom-right;
  } 
  
  /* Avatar */
  #my-dropdown { anchor-name: --avatar; }
  #my-menu {
    position-anchor: --avatar;
    position-area: bottom ;
    margin: .25rem;
    /* position-try: flip-block, flip-inline; */
    position-try-fallbacks: --bottom-center, --bottom-left, --top-center, --bottom-right;
  }
  @position-try --bottom-center { position-area: bottom center; }
  @position-try --bottom-left { position-area: bottom left; }
  @position-try --top-center { position-area: top center; }
  @position-try --bottom-right { position-area: bottom right; }
  

  /* Click me */
  #click-btn { anchor-name: --click-btn; }
  #click-menu {
    position-anchor: --click-btn;
    position-area: bottom center;
  }   


 

  /**/
  #anchor-pos-1 {
    anchor-name: --anchor-pos-1;
  }
  #target-pos-1 {
    position-anchor: --anchor-pos-1;
    top: anchor(bottom);
    left: anchor(right);
    position: absolute;
    margin: 0;
  }
  /* */


#my-anchor-try-tactics-2 {
  anchor-name: --my-anchor-try-tactics-2;
  position: relative;
  top: 5rem;
  right:3rem;
}



#my-target-try-tactics-2 {
  position-anchor: --my-anchor-try-tactics-2;
}

#my-target-try-tactics,
#my-target-try-tactics-2 {
  margin:0;
  position: absolute;
  bottom: anchor(top);
  left: anchor(right);
  position-try-fallbacks: flip-block, flip-inline, flip-start;
}

.scrollbox {
  height: 400px;
  aspect-ratio: 1.5;
  overflow: scroll;
  border: thin solid;
  position: relative;
  resize: both;
}
.placefiller-above-anchor {
    height: 200px;
}
.placefiller-before-anchor {
    display: inline-block;
    width: 150px;
}
.placefiller-after-anchor {
    height: 1000px;
    width: 1000px;
}
 [role="menuitem"] { width: 100%; justify-content: unset; }
</style>

<Layout {title} {description}>
  <main class="bg-surface-2 stack">
    <!-- Header -->
    <article class="px-max py-2xl stack-md">
      <h1>Popover</h1>
      <p class="text-md leading-lg">The Popover API provides developers with a standard, consistent, flexible mechanism for displaying popover content on top of other page content. Popover content can be controlled either declaratively using HTML attributes, or via JavaScript.</p>
    </article>
    
    <article class="px-max py-lg stack-md">
      <p>Components</p>
      <h2>Dropdown</h2>
      <p>A minimally styled window overlaid on the Main Content. By design the Dialog is minimal with zero content to allow for both modal and non-modal use.</p>

      <Button 
        id="click-btn"  
        popovertarget="click-menu"
      >
        Click me
      </Button>
      <Dropdown id="click-menu" labelledBy="click-btn">
        <ul role="list" class="my-[0]">
          <li><Button role="menuitem">Profile</Button></li>
          <li><Button role="menuitem">Settings</Button></li>
          <li><Button role="menuitem">Log out</Button></li>
          <hr>
          <li><Button role="menuitem">Log out</Button></li>
        </ul>
      </Dropdown>

      <div class="py-md bg-surface-3 flex justify-center">
        <Button
          id="my-dropdown" 
          popovertarget="my-menu"
          aria-controls="my-menu"
          aria-haspopup="menu"
          aria-expanded="false"
          aria-label="Help menu"
          variant='icon-button'
          shape='circle'
        >
          <Avatar 
            src={userAvatar} 
            label="User Avatar" 
            size="md" 
            badge="success" 
          />
        </Button>
        <Dropdown id="my-menu" labelledBy="my-dropdown">
          <ul role="list" class="my-[0]">
            <li><Button role="menuitem">Profile</Button></li>
            <li><Button role="menuitem">Settings</Button></li>
            <li><Button role="menuitem">Log out</Button></li>
            <hr>
            <li><Button role="menuitem">Log out</Button></li>
          </ul>
        </Dropdown>
      </div>
    </article>

    <article class="px-max py-lg stack-md">
      <!-- Button & Tooltip -->
      <Button 
        id="new-dropdown" 
        popovertarget="new-menu"
        aria-controls="new-menu"
        aria-haspopup="menu"
        aria-expanded="false"
        aria-label="Help menu"
      >
        ?
      </Button>
      <Tooltip id="tooltip-info" for="new-dropdown">
        This is an informative tooltip.
      </Tooltip>
      <Dropdown id="new-menu" labelledBy="new-dropdown">
        <ul role="list" class="my-[0]">
          <li><Button role="menuitem">Profile</Button></li>
          <li><Button role="menuitem">Settings</Button></li>
          <li><Button role="menuitem">Log out</Button></li>
          <hr>
          <li><Button role="menuitem">Log out</Button></li>
        </ul>
      </Dropdown>
      <!-- /Button & Tooltip -->
    </article>
    
    <article class="px-max py-lg stack-md">
      <button 
        id="anchor-pos-1" 
        popovertarget="target-pos-1"
        class="p-sm"  
        class="anchor"
      >
        Anchor
      </button>
      <div 
        id="target-pos-1" 
        class="target p-sm" 
        popover
      >
        Target
      </div>
    </article>

    <article class="px-max py-lg stack-md">
      <div class="scrollbox">
        <div class='placefiller-above-anchor'></div>
         <div class='placefiller-before-anchor'></div>

          
          <button id="my-anchor-try-tactics-2" class="p-2xs anchor">position-try-fallbacks Anchor 2</button>
          <div id="my-target-try-tactics-2" class="p-2xs bg-red-7 target">Target 2</div>

          <div class='placefiller-after-anchor'></div>  
      </div>
    </article>


  </main>
</Layout>

<script is:inline>
  // Listen for *any* popover toggling:
  document.addEventListener('toggle', (e) => {
    const pop = (e.target);
    if (!pop.hasAttribute('popover') || !pop.id) return;

    // Find the matching control by its popovertarget:
    const btn = document.querySelector(
      `[popovertarget="${pop.id}"]`
    );
    if (btn) {
      btn.setAttribute(
        'aria-expanded',
        e.newState === 'open' ? 'true' : 'false'
      );
    }
  });
</script>