---
import Layout from '@layouts/Layout.astro';
import Dialog from '@components/Dialog.astro';
import Button from '@components/Button.astro';
import Dropdown from '@components/Dropdown.astro';
import Resize from '@components/Resize.astro';


const { 
	title = "My Astro Blog",
	description = "My musings about the Astro framework",
	...rest 
} = Astro.props;
---

<style>
  #new-dropdown { anchor-name: --my-otheranchor; }
  #dd-menu {
    position-anchor: --my-otheranchor;
    position-area: bottom;
  } 

  #my-dropdown { anchor-name: --my-anchor; }
  #my-menu {
    position-anchor: --my-anchor;
    top: anchor(bottom);
    left: anchor(right);
    margin-block-start: .25rem;
    /* position-area: bottom right;
    position-try-fallbacks:
    top, top right, 
    right, bottom, 
    bottom right; */
  }

  [role="menuitem"] { width: 100%; justify-content: unset; }

</style>

<Layout {title} {description}>
  <main class="p-inline-max pt-lg bg-surface-2 stack">
    <p>Components</p>
    <h1>Popover</h1>
  
    <p>A minimally styled window overlaid on the main content. By design the Dialog is minimal with zero content to allow for both modal and non-modal use.</p>
    
    
    <Button 
      id="new-dropdown" 
      popovertarget="dd-menu"
      aria-controls="dd-menu"
      aria-haspopup="menu"
      aria-expanded="false"
      aria-label="Help menu"
    >
      ?
    </Button>

  <Dropdown id="dd-menu" labelledBy="new-dropdown">
    <ul role="list" class="my-[0]">
      <li><Button role="menuitem">Profile</Button></li>
      <li><Button role="menuitem">Settings</Button></li>
      <li><Button role="menuitem">Log out</Button></li>
      <hr>
      <li><Button role="menuitem">Log out</Button></li>
    </ul>
  </Dropdown>

  <div class="p-md bg-blue-3 flex justify-center">
    <Button 
        id="my-dropdown" 
        popovertarget="my-menu"
        aria-controls="my-menu"
        aria-haspopup="menu"
        aria-expanded="false"
        aria-label="Help menu"
      >
        Button with long text
      </Button>
      <Dropdown id="my-menu" labelledBy="my-dropdown">
        <ul role="list" class="my-[0]">
          <li><Button role="menuitem">Profile</Button></li>
          <li><Button role="menuitem">Settings</Button></li>
          <li><Button role="menuitem">Log out</Button></li>
          <hr>
          <li><Button role="menuitem">Log out</Button></li>
        </ul>
      </Dropdown>
  </div>
  </main>
</Layout>

<script is:inline>
  // Listen for *any* popover toggling:
  document.addEventListener('toggle', (e) => {
    const pop = (e.target);
    if (!pop.hasAttribute('popover') || !pop.id) return;

    // Find the matching control by its popovertarget:
    const btn = document.querySelector(
      `[popovertarget="${pop.id}"]`
    );
    if (btn) {
      btn.setAttribute(
        'aria-expanded',
        e.newState === 'open' ? 'true' : 'false'
      );
    }
  });
</script>