---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"dialog"> {
  title: string;
  theme?: "outlined" | "tonal" | "filled" | "elevated";
  open?: boolean;
  role?: "alertdialog" | "dialog";
  id?: string;
  classes?: string;
}

const {
  title,
  theme,
  open = false,
  role,
  id,
  classes = '',
  ...rest
} = Astro.props;
---

<style>
@layer components {
  dialog {
    margin-block-start: 15%; /* vertical alignment */
    padding-block: 0;
    pointer-events: none;

    &:not([open]) { display: none }

    &[open] {
      pointer-events: all;
    }
  }

  html:has(dialog[open]) {
    overflow: hidden;
  }
}
</style>

<dialog
  id={id}
  class:list={[]}
  role="alertdialog"
  aria-labelledby="dialog-heading"
  aria-describedby="dialog-content"
  aria-modal="true"
>
  <div class="card">
    <hgroup>
      <h2 id="dialog-heading">Dialog heading</h2>
    </hgroup>
    <div id="dialog-content" class="content">
      <slot/>
    </div>
    <div class="actions">
      <button class="button">Cancel</button>
      <button class="button">Save</button>
    </div>
  </div>
</dialog>