---
import { Icon } from 'astro-icon/components';
import Card from '@components/Card.astro';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"dialog"> {
  title: string;
  theme?: "outlined" | "tonal" | "filled" | "elevated";
  open?: boolean;
  role?: "alertdialog" | "dialog";
  id?: string;
  classes?: string;
}

const {
  title,
  theme,
  open = false,
  role,
  id,
  classes = '',
  ...rest
} = Astro.props;
---

<style>
@layer components {
  dialog {
    margin-block-start: 15%; /* vertical alignment */
    padding-block: var(--spacing-sm-md);
    padding-inline: var(--spacing-sm-md);
    pointer-events: none;
    max-inline-size: 75ch;

    &:not([open]) { display: none }

    &[open] {
      pointer-events: all;
    }
  }

  html:has(dialog[open]) {
    overflow: hidden;
  }
}


</style>

<dialog
  id={id}
  class='stack stack-lg'
  class:list={[classes]}
  role="alertdialog"
  aria-labelledby="dialog-heading"
  aria-describedby="dialog-content"
  aria-modal="true"
>
    <hgroup>
      <h2 id="dialog-heading" class="text-lg mt-[0]">Dialog heading</h2>
    </hgroup>
    <div id="dialog-content" class="content stack stack-md">
      <slot/>
    </div>
    <div class="actions">
      <button class="button">Cancel</button>
      <button class="button">Save</button>
    </div>
 
</dialog>