---
---

<style></style>

<label class="field">
  <select>
    <button>
      <selectedcontent></selectedcontent>
    </button>
    <div class="list">
      <option>Outlined (default)</option>
      <option>Option Two</option>
      <option>Option Three</option>
    </div>
  </select>
</label>