/* [9] Enter / Exit Transition for top-layer */
[popover], dialog, ::backdrop {
  --duration: 1s;
  --delay: .25s;
  --timing-function: var(--ease-spring-2);

  /* Interpolate sizes keywords */
  transition: 
    display var(--duration) var(--timing-function), 
    overlay var(--duration) var(--timing-function),
    transform var(--duration) var(--timing-function), 
    opacity var(--duration) var(--timing-function);
    transition-behavior: allow-discrete; /* Note: be sure to write this after the shorthand */
}

/* Ending | Off Stage  */
[popover], dialog {
  transform:  scale(.9);
}

[popover], dialog, ::backdrop { 
  opacity: 0;
}

/* On Stage */
:popover-open::backdrop,
[open]::backdrop {
  opacity: 1;
}

:popover-open,
[open] {
  opacity: 1;
  transform: translateY(0);
}

/* Starting | Off Stage */
@starting-style {
  :popover-open,
  [open]{
    opacity: 0;
    transform: translateY(100%);
  }

  
  :popover-open::backdrop,
  [open]::backdrop {
    opacity: 0;
  }
}

/* Backdrop */
::backdrop {
  --glass-lightness: 100%;

  background: hsl(0 0% var(--glass-lightness) / 50%);
  backdrop-filter: blur(6px);

  @media (prefers-color-scheme: dark) {
    --glass-lightness: 0;
  }
}