---
import BlogLayout from '../../../layouts/BlogLayout.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
const tagSet = new Set();
posts.forEach(p => (p.data.tags || []).forEach(t => tagSet.add(t)));
const tags = [...tagSet];
---

<BlogLayout title="Tags" description="Blog tags">
  <h1>Tags</h1>
  <ul>
    {tags.map(tag => (
      <li><a href={`./${tag.toLowerCase()}/`}>{tag}</a></li>
    ))}
  </ul>
</BlogLayout>
