---
import type { HTMLAttributes } from 'astro/types';
import Head from '@layouts/Head.astro';
import TheHeader from '@layouts/TheHeader.astro';
import TheNavigation from '@layouts/TheNavigation.astro';
import TheFooter from '@layouts/TheFooter.astro';

interface Props extends HTMLAttributes<"html"> {
	title: string;
	description: string;
}

const { 
	title = "My Astro Blog",
	description = "My musings about the Astro framework",
	...rest 
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head {title} {description} />
	<body id="app">
		<TheHeader />
		<TheNavigation />
		<slot />
		<TheFooter />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
