---
import type { HTMLAttributes } from 'astro/types';
import Head from '@layouts/Head.astro';
import TheHeader from '@layouts/TheHeader.astro';
import TheNavigation from '@layouts/TheNavigation.astro';

interface Props extends HTMLAttributes<"html"> {
	title: string;
	description: string;
}

const { 
	title = "My Astro Blog",
	description = "My musings about the Astro framework",
	...rest 
} = Astro.props;
---

<style>
	.grid { grid-template-columns: auto 1fr; }
</style>

<!doctype html>
<html lang="en">
	<Head {title} {description}/>
	<body id="app" class="grid">
		<div class="py-md px-lg stack stack-xs">
			<TheHeader />
			<search>Search</search>
			<TheNavigation />
		</div>
		
		<slot />
	</body>
</html>