---
import ThemeToggle from '@components/ThemeToggle.astro';
import Logo from '@images/skull.svg'
import TheNavigation from '@layouts/TheNavigation.astro';
---

<header class="py-md px-lg stack stack-xs flex flex-col">
  <a href="/" class="flex items-center gap-3xs" aria-label="Home">
    <Logo class="logo" width='100%' height='auto'/>
  </a>

  <TheNavigation classes='mb-auto'/>
  <ThemeToggle />
</header>

<style>
  header { 
    container-type: inherit;
    height: 100dvh;
    position: sticky;
    top: 0; 
  }

  a {
    text-decoration: none;
    font-size: var(--text-md);
    color: var(--color-text-1);
  }
  
  .logo {
    width: auto;
    height: auto;
    aspect-ratio: var(--aspect-square);
    flex: none;
    
    path { fill: currentColor }
  }
</style>