---
import Logo from '@images/skull.svg'
---

<header>
  <div class="masthead">
    <a href="/" class="inline-flex items-center gap-sm" aria-label="Home">
      <Logo />
      <span>DesignWerk</span>
    </a>
  </div>
</header>

<style>
  header {



    
  }
  .masthead {


  }
  a {
    /* background-color: aqua; */
    display: block;

  }
  .action-bar { display: flex; }
</style>