---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"nav"> {
  classes?: string;
  ariaLabel?: 'primary' | 'secondary';
}

const {
  classes,
  ariaLabel = 'primary',
  ...rest
} = Astro.props;

// Enter your navigation links here
const navLinks = [
  { 
    name: 'Home', 
    path: '/'
  },
  { 
    name: 'Headers', 
    path: '/headers', 
    // icon: 'symbols-solid' 
  },
  { 
    name: 'Buttons', 
    path: '/buttons'  
  },
  { 
    name: 'Details', 
    path: '/details'  
  },
  { 
    name: 'Modals', 
    path: '/modals'  
  },
  { 
    name: 'Popover', 
    path: '/popover'  
  },
  { 
    name: 'Colors', 
    path: '/colors'
  },
  { 
    name: 'Inputs', 
    path: '/inputs'
  },
  { 
    name: 'Cards', 
    path: '/cards'
  },
  { 
    name: 'Avatars', 
    path: '/avatars',
  },
   { 
    name: 'Demo', 
    path: '/demo',
  },
];
---

<style>
  .nav-list { gap: var(--space-sm); }

  .nav-link { 
    gap: 1ch; 
    color: var(--color-text-2);
  }

  [data-icon] { size: var(--space-xs) }
</style>

<!-- YES: aria-label="primary" | NO: aria-label="primary navigation" Because of Landmarks, screen readers will announce this as "primary navigation navigation" -->
<nav class="nav" aria-label={ariaLabel} class:list={[classes]} {...rest}>
  <ul role="list" class="nav-list stack-3xs">
    {
      navLinks.map(({ name, path, icon }) => (
        <li class="list-item">
          <a href={path} 
            class="nav-link flex items-center"
            aria-current={Astro.url.pathname === path ? 'page' : undefined} 
          >
            { icon && <Icon name={icon} aria-hidden='true'/> }
            <span class="label">{name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>